name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
      
    - name: Run container
      run: docker pull ${{ env.IMAGE_NAME }} \
          docker run -d -p 8080:8080 --name my-container ${{ env.IMAGE_NAME }}
  
    - name: Display running containers
      run: docker ps -a
